@charset "utf-8";

@media only screen and (max-width:1000px){
    .header_cont .nav .depth1 > li > a{padding:40px 20px 40px 0px; font-size:12px}
}

@media only screen and (max-width:800px){
    .header_cont{position:relative; height:120px; transition:all 0.5s; overflow:hidden}
    .header_cont h1{font-size:45px; line-height:120px; text-align:center; animation:fadeInUp 1s both 1; z-index:999;}
    .header_cont .open_gnb{display:block; position:absolute; top:50%; left:5%; transform:translateY(-50%)}
    
    .header_cont .open_gnb img{display:block; width:40px; height:40px; margin-bottom:4px; transition:all 0.9s; }
    .header_cont.on .open_gnb img{transform:rotate(0.5turn); margin-bottom:5px}
    .header_cont .nav{position:absolute; width:100%; top:130%; transition:all 1s; opacity:0; display:none;}
    .header_cont.on .nav{top:110px; display:block}
    .header_cont .nav .depth1 > li{display:block; float:left; width:25%; }
    .header_cont .nav .depth1 > li > a{display:block; text-align:center; border-radius:5px;     
        transition:all 0.5s; padding:0;}
    .header_cont .nav .depth1 > li:hover > a{background:rgba(255,255,255,0.7); color:#000; font-size:13px;
       padding:0;}

}
